.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;

}


.grid {
display: flex;
flex-wrap: wrap;

width: 800px;
height: 800px;
outline: black solid 1px;
flex: 0 1 auto;




}
div[class^="box"]{
    outline:green solid 1px;
    aspect-ratio: 1/1


}
